!!!5
html
	head
		meta(charset='UTF-8')
		title Document
		link(rel="stylesheet", type="text/css", href="css/main.css")
	body
		.checkbox-e
			input(type="checkbox")
			label

		script(type="text/javascript", src="js/lib/jquery-2.0.1.js")
		script(type="text/javascript", src="js/hitch-0.6.3.min.js")
		script(type="text/javascript", src="js/main.js")
